@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std'), url(./fonts/circular-std-medium-500.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Circular Std', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
